{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "quoteProps": "consistent",
  "semi": false,
  "vueIndentScriptAndStyle": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false
}
